$utils.error($util.toJson($ctx.identity))
#set($sessionUserId = "9cb1b7e9-bbbe-416f-b205-5108bbfbbf9d" ) ## TODO: hard-coded, temp

## {
##   "version": "2018-05-29",
##   "operation": "GetItem",
##   "key": {
##     "id": $util.dynamodb.toDynamoDBJson($sessionUserId),
##   },
## }