{
  "version": "2018-05-29",
  "operation": "Scan",
  "filter" : {
    "expression": "username = :username",
        "expressionValues" : {
            ":username" : $util.dynamodb.toDynamoDBJson($ctx.identity.username)
        }
  }
}