.edit-cart {
  &__line-account-container {
    // TODO: only for large screen, needs adjusting for breakpoints, or more elegant approach
    margin-left: 58px;
    margin-right: 31px;
    margin-top: -2px;
  }
}
