
{
  "version": "2017-02-28",
  "operation": "Scan",
  "filter" : {
    "expression": "accountNumber = :accountNumber",
        "expressionValues" : {
            ":accountNumber" : $util.dynamodb.toDynamoDBJson($ctx.args.accountNumber)
        }
  }
}