{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
        "field": "register",
        "username":  $utils.toJson($ctx.args.options.username),
        "email":  $utils.toJson($ctx.args.options.email),
        "password":  $utils.toJson($ctx.args.options.password),
    }
}