## HANDLING COGNITO DUPE username or EMAIL error
#if(!$util.isNullOrBlank($util.toJson($context.result.errors))) 
    ## TODO: more robust error handling
    $utils.error('User Validation Failed', 'UNIQUE CONSTRAINT VIOLATION',
    $util.toJson($context.result.errors))
#else
    $util.qr($context.stash.put('token', $context.result.token))
    {}
    #end