{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "login",
        "usernameOrEmail":  $utils.toJson($ctx.args.usernameOrEmail ),
        "password":  $utils.toJson($ctx.args.password ),
    }
}