## if NO token return from pipeline!
$utils.error($util.toJson($context.result.token))
#if($util.isNullOrBlank($context.result.token))
    $util.error($util.toJson({
    "data": {
            "login": {
                "user": null,
                "token": null
            }
        }
    }))
#else
$util.qr($context.stash.put('token', $context.result.token))
{}
#end