{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "id" : { "S" : "$context.arguments.cart.id" }
    },
    "update" : {
        "expression" : "SET #name = :name",
        "expressionNames": {
            "#name": "name"
        },
        "expressionValues": {
            ":name" : $util.dynamodb.toDynamoDBJson($context.arguments.cart.name)
        }
    }
}