## if NO token OR no user, return nulls!
#if($util.isNullOrBlank($context.result.token))
    #set($result = {
    "data": {
            "login": {
                "user": $null,
                "token": $null
            }
        }
    })
    $util.toJson($result)
#else
{
    "user": $utils.toJson($context.result),
    "token": $utils.toJson($context.stash.token)
}
#end