## Pass back the result from DynamoDB.
#if($ctx.result.items.isEmpty())
    $utils.toJson(null)
#else
    {
        "user": $utils.toJson($ctx.result.items[0]),
        "token": $utils.toJson($context.prev.result.token),
    }
#end